<div class="navbar navbar-fixed-top">
  <a href="#/claims" class="btn btn-large pull-left">
    <i class="glyphicon glyphicon-cog"></i>
  </a>
  <span class="navbar-brand">Condominio</span>
</div>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="claim in claimsList">
    <!-- Actually ng-click here is not necessary because slide left is the default transition -->
    <a ng-href="#/claims/{{claim.id}}" ng-click="setTransition('animate-slide-left')">{{claim.summary}}</a>
  </li>
</ul>
